<!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New animal</title>
</head>
<body>

<form th:method="POST" th:action="@{/animals}" th:object="${animal}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name">
    <label for="type">Enter type</label>
    <input type="text" th:field="*{type}" id="type">

    <input type="submit" value="Create new animal!">

</form>

</body>
</html>