<!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Animal</title>
</head>
<body>

<p th:text="${animal.getName()}">name</p>
<p th:text="${animal.getType()}">type</p>
<p th:text="${animal.getId()}">id</p>

<a th:href="@{/animals/{id}/edit(id=${animal.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/animals/{id}(id=${animal.getId()})}">
    <input type="submit" value="Delete animal"/>
</form>

</body>
</html>